.outer{background-color: rgb(212, 62, 87);
   padding: 1rem;
   border: 2px solid black;
   width: 50%;
   margin: 20rem;
}



.left{
    width:100px ;
    height: 100px;
    background-color: rgb(62, 59, 60);
    margin: 0.5rem;
 
    float: left;
    
   
}


.right{
    width: 100px;
        height: 100px;
        background-color: rgb(62, 59, 60);
        margin: 0.5rem;
        float: right;       
}


.clearfix1{
    clear:both
}

