@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
}

h2 {
    background-color: rgba(4, 243, 24, 0.995);
    font-size: 50px;
    color: white;
    padding-left: 10%;
    padding-bottom: 2%;
    padding-top: 1%;
    width: 100%;


}

body {

    background-color: rgb(239, 237, 237);
    font-family: Didact Gothic;
    font-size: medium;
    font-weight: bolder;

}

table,
th,
td {
    border: 1px thin white;

}

table {
    width: 100%;
    /* padding: 5% 2% 8%; */
    height: 500px;
    margin-top: 8%;
    font-size: 30px;
    padding-right: 2%;
    padding-top: 1%;
    padding-left: 2%;
}


th:first-child {
    text-align: left;
}

th:nth-child(2) {
    text-align: left;
}

th:nth-child(4) {
    text-align: right;
}

th:nth-child(5) {
    text-align: right;
}

tr:nth-child(1) {
    background-color: rgb(95, 90, 90);
    color: white;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:first-child {
    background-color: rgb(65, 60, 60);
    color: white;
}

tr:last-child {
    background-color: rgb(91, 87, 87);
    color: white;
}

td:nth-child(4) {
    text-align: right;
}

td:nth-child(5) {
    text-align: right;
}

td:nth-child(3) {
    text-align: center;
}

tr:last-child {
    font-weight: bolder;
}





button {
    padding: 15px 32px;
    background-color: salmon;
    color: white;
    border: none;
    font-size: 16px;
    float: right;
    margin-right: 15px;



}

.fa-solid {
    color: black;
    padding-right: 10px;

}

.fa-sharp {
    color: black;

}

.position {
    background-position: top;

}

.fa-sharp {
    padding-left: 20px;
}